#heading1{
    text-align: center;
    background-color: white;
}

#heading2{
    text-align: center;
    color:red;
}
.container {
    background-color: white;
    margin:auto;
    width: 800px;
    height: 400px;
    padding: 10px;
    border: 5px solid gray;
  }
.next{
    background-color:rgb(175, 196, 201);
}
img{
    float:left;
}

#login{
    text-align:center;
    text-decoration: underline;
}
#inp1{
    text-align:center;
    width:100px;
    height:50px;
}